<article class="post">
  <div class="postHead">  
    <div class="title">
      <a href="/post/{{id}}">{{post_title}}</a>
    </div>
    <div class="meta">
      Posted By {{User.username}} on {{format_date created_at}} | 
      {{Comments.length}} {{format_plural "comment" Comments.length}}
    </div>
  </div>
  <div class="postText">
    {{post_text}}
  </div>
</article>